<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <!-- FONT -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet"> 

    <!-- ICONS -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- VUE.JS -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <!-- CSS -->

    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div id="root">

        <div class="background-top"></div>

        <div class="container">
            <div class="contacts">
                <div class="profile">

                    <div class="icon i-profile"><img class="img-icon" src="img/avatar_io.jpg" alt=""></div>

                    <h4>Sofia</h4>

                    <ul class="nav">
                        <li><i class="fas fa-circle-notch"></i></li>
                        <li><i class="fas fa-comment-alt"></i></li>
                        <li><i class="fas fa-ellipsis-v"></i></li>
                    </ul>

                </div>

                <div class="notification">

                    <div class="icon i-notification">
                        <span class="bell"><i class="fas fa-bell-slash"></i></span>
                    </div>

                    <div class="alert">
                        <h4>Ricevi notifich di nuovi messaggi</h4>
                        <h5>Attiva notifiche Desktop</h5>
                    </div>

                </div>

                <div class="finder">
                    <input id="search" type="text" placeholder="Cerca o inizia una nuova chat">
                </div>

                <div class="chat">

                    <section class="chat-section" v-for="(item, index) in contacts" @click="clickedItem(index)" :class="{active : index === currentContact}">
                        <div class="icon">
                            <img class="img-icon" :src="'img/avatar'+ item.avatar +'.jpg'" alt="">
                        </div>

                        <section>

                            <h4>{{item.name}}</h4>
                            <span>{{item.messages[item.messages.length - 1].message}}</span>

                        </section>

                    </section>

                </div>

            </div>

            <div class="messages">
                <div class="top">
                    <div class="icon-message">
                        <img class="img-icon" :src="'img/avatar'+ contacts[currentContact].avatar +'.jpg'" alt="">
                    </div>

                    <section>

                        <h4> {{contacts[currentContact].name}} </h4>
                        <span>Ultimo accesso oggi alle 12:00</span>

                    </section>
                </div>

                <div class="center">

                    <div class="message" v-for="item in contacts[currentContact].messages" :class="{sent : item.status == `sent`, received : item.status == `received`}">
                        <p>{{item.message}}</p>
                        <span>{{item.date}}</span>
                    </div>

                </div>

                <div class="bottom">
                    <span><i class="far fa-smile"></i></span>
                    <input type="text" placeholder="Scrivi un messaggio">
                    <span><i class="fas fa-microphone"></i></span>
                </div>
            </div>
        </div>

    </div>

    <!-- SCRIPT -->

    <script src="js/data.js" type="text/javascript"></script>
    
</body>
</html>